<!DOCTYPE html>
<html lang="en">
<head>
<%- include('headerDept.ejs'); -%>
</head>

<body>

<div class="wrapper">

	<%- include('topNavbar.ejs'); -%>

	<div class="main_body">
		<%- include('sidebarMenu.ejs'); -%>
		
	    <div class="container">
	    	<%- include('cardshr.ejs'); -%>
	    </div>
	</div>
</div>
<%- include('footerActive.ejs'); -%>
</body>
</html>
